In [10]:
#First we import the libraries we will need
import urllib2
#import urllib.request
import time
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
#First of all we need to find all the name of the sites that belong to fortune 500. This can happen if we seperate
#The information needed from the below link
url = "http://www.zyxware.com/articles/4344/list-of-fortune-500-companies-and-their-websites"
list_company_number =[]
list_company_name = []
list_company_website = []
list500_sites = []
list500_names = []
list500_num = []
list500_url = []

In [12]:
#In order to extract the needed informations we will create 3 lists. The first one will contain the rank of each site, the
#second one will contain the name of the company and the 3rd one will contain the actual link of the company's site.
#For achieving this purpose we will create a funstion that will in its turn create those three list.
#In order to know if the function worked we will ask it to return the first element of each list along with a sentence.
def websites (url):
    browser = urllib2.build_opener()
    browser.addheaders = [('User-agent', 'Mozilla/5.0')]
    response = browser.open(url)# this might throw an exception if something goes wrong.
    myHTML = response.read()
    soup = BeautifulSoup(myHTML,"lxml")    
    o = 0
    td_list =[]
    for row2 in soup.html.body.findAll('td'):
        td_list.insert(o, row2)
        o = o + 1
    a = 0
    b = 1
    c = 2
    list_numbering = 0
    for i in range (0,500):        
        num = str(td_list[a])
        company = str(td_list[b])
        site = str(td_list[c])
        c_num = re.findall('>(.+?)</td>',num)  
        c_num = str(c_num[0])
        c_name = re.findall('>(.+?)</td>',company)
        c_name = str(c_name[0])
        c_site = re.findall('">(.+?)</a>',site)
        c_site = str(c_site[0])        
        list_company_number.insert(list_numbering,c_num)
        list_company_name.insert(list_numbering,c_name)
        list_company_website.insert(list_numbering,c_site)
        a = a + 3
        b = b + 3
        c = c + 3
        list_numbering =  list_numbering + 1 
    print ('The three lists are ready')
    print (list_company_number[0])
    print (list_company_name[0])
    print (list_company_website[0])

In [13]:
# After creating the function we should now test that it actually works correctly
websites (url)

The three lists are ready
1
Walmart
www.walmart.com

In [14]:
## The next step is to download and save in a new list the 500 sites.
## We will create a new function that will do this by reading the list "list_company_websites" that we created 
## with the previous function

def list_company_HTML (list_company_website,list_company_name,start,end):
    import time
    browser2 = urllib2.build_opener()
    browser2.addheaders = [('User-agent', 'Mozilla/5.0')]
    for i in range (start,end):
        k = str(i+1)
        lc = str(list_company_website[i])        
        lc = lc.replace("'","")   
        lc = lc.replace("[","")
        lc = lc.replace("]","")
        lcn = str(list_company_name[i])        
        lcn = lcn.replace("'","")   
        lcn = lcn.replace("[","")
        lcn = lcn.replace("]","")
        url2= 'http://'+lc
        #an exception might be thrown, so the code should be in a try-except block
        try:
            #use the browser to get the url.
            response2=browser2.open(url2)# this might throw an exception if something goes wrong.
        except Exception: # this describes what to do if an exception is thrown
             continue#ignore this page.      
        #read the response in html format. This is essentially a long piece of text
        myHTML2=response2.read()
        list500_sites.insert(i,myHTML2)
        list500_names.insert(i,lcn)
        list500_url.insert(i,lc)
        list500_num.insert(i,k)
        #wait for 2 seconds
        time.sleep(2)
        #print ("The site " + k + " has been downloaded!")
    print ("We downloaded: ",len(list500_sites)," sites!")
    #print (len(list500_names),list500_names)

In [15]:
start = 0
stop = 25
for i in range (0,1): #i am not downloading all the pages for the time being for reasons of running faster the process during the tests
    print (start)
    print (stop)    
    list_company_HTML (list_company_website,list_company_name,start,stop)
    start = stop
    stop = stop + 25

0
25
('We downloaded: ', 24, ' sites!')

In [16]:
#Retreiving the social media from each site
#First create empty lists for the ones that we will need to calculate
sm_f = []
sm_t = []
sm_i = []
sm_p = []
sm_y = []
sm_l = []   
sm_nm = [] 
nm = []
sm_url = []

In [20]:
#Then create a function that will feel in those lists so as to make the data frame later on

def socialmedia (list500_sites,list500_names,list500_url,start,end):
    for num in range(start,end):
        if list500_sites[num] != "":
            hand = str(list500_sites[num])
            sm = ['facebook.com','twitter.com','instagram.com','pinterest.com','youtube.com','linkedin.com'] 
            number = 0 
            for index in range(len(sm)):
                x = sm[index]
                photo = re.findall(x,hand)                                
                if (len(photo)>0):
                    if x == 'facebook.com':
                        answerf = True
                    if x == 'twitter.com':
                        answert = True
                    if x == 'instagram.com':
                        answeri = True
                    if x == 'pinterest.com':
                        answerp = True
                    if x == 'youtube.com':
                        answery = True
                    if x =='linkedin.com':
                        answerl = True                   
                else:
                     if x == 'facebook.com':
                        answerf = False
                     if x == 'twitter.com':
                        answert = False
                     if x == 'instagram.com':
                        answeri = False
                     if x == 'pinterest.com':
                        answerp = False
                     if x == 'youtube.com':
                        answery = False
                     if x =='linkedin.com':
                        answerl = False                
            sm_nm.insert(num,list500_names[num]) 
            nm.insert(num,num)
            sm_url.insert(num,list500_url[num])
            sm_f.insert(num,answerf)
            sm_t.insert(num,answert)
            sm_i.insert(num,answeri)
            sm_p.insert(num,answerp)
            sm_y.insert(num,answery)
            sm_l.insert(num,answerl)

In [21]:
#Now we will run the function for the 20 first sites for starters
socialmedia (list500_sites,list500_names,list500_url,0,20)

In [22]:
#Finally we create the data frame with the elements we found            
d = {'company' : pd.Series(sm_nm, index=[nm]),'url' : pd.Series(sm_url, index=[nm]),
     'facebook' : pd.Series(sm_f, index=[nm]),'twitter' : pd.Series(sm_t, index=[nm]),
     'instagram' : pd.Series(sm_i, index=[nm]),'pinterest' : pd.Series(sm_p, index=[nm]),
     'youtube' : pd.Series(sm_y, index=[nm]),'linkedin' : pd.Series(sm_l, index=[nm]),}
social_media = pd.DataFrame(d)    
social_media.head(3) #we see the first 3 in the data frame

,company,facebook,instagram,linkedin,pinterest,twitter,url,youtube
0,Walmart,True,True,False,True,True,www.walmart.com,True
1,Exxon Mobil,False,False,False,False,False,www.exxonmobil.com,False
2,Apple,False,False,True,False,False,www.apple.com,True

In [23]:
#Create the lists we will need for the data frame
l_nm = []
l_ex = []
l_in = []
l_t = []
nm = []
l_url = []

In [24]:
#create the function that will calculate the different type of links
def links (list500_sites,list500_names,list500_url,start,end):
    for num in range(start,end):
        line = str(list500_sites[num])
        href = re.findall('href',line)
        external = re.findall('href="https:',line)
        ex = (len(external))
        alllinks = (len(href))
        internal =  (len(href) - len(external))
        l_nm.insert(num,list500_names[num])            
        l_ex.insert(num,ex)
        l_t.insert(num,alllinks)
        l_in.insert(num,internal)
        nm.insert(num,num)
        l_url.insert(num,list500_url[num])

In [25]:
#Run the function in order to find the external, internal and total links of each site
#For now we are running for the first 20 sites only
links (list500_sites,list500_names,list500_url,0,20)

In [26]:
#Create a dataframe so as to be able to see the results of the function we run
d2 = {'company' : pd.Series(l_nm, index=[nm]),'url' : pd.Series(l_url, index=[nm]),
      'external' : pd.Series(l_ex, index=[nm]),'internal' : pd.Series(l_in, index=[nm]),
     'total links' : pd.Series(l_t, index=[nm])}
sites_links = pd.DataFrame(d2)    
sites_links.head(3) #we see the first 3 in the data frame

       company  external  internal  total links                 url
0      Walmart        67        98          165     www.walmart.com
1  Exxon Mobil        23       783          806  www.exxonmobil.com
2        Apple         5       277          282       www.apple.com

In [27]:
#The initial lists we will need in order to calculate the loading time
lt_nm = [] 
lt_time = []
nm = []
lt_url = []

In [41]:
#the function that will calculate the loading time
def loadtime (list_company_website,list500_names,start,end):
    from time import time
    browser2 = urllib2.build_opener()
    browser2.addheaders = [('User-agent', 'Mozilla/5.0')]
    for num in range(start,end):
        lc = str(list_company_website[num])        
        lc = lc.replace("'","")   
        lc = lc.replace("[","")
        lc = lc.replace("]","")
        url2= 'http://'+lc
        try:
            response2=browser2.open(url2)# this might throw an exception if something goes wrong.
        except Exception: # this describes what to do if an exception is thrown
             continue   
        start_time = time()
        myHTML2=response2.read()
        end_time = time()
        response2.close()
        l_t = round(end_time-start_time, 3)
        loadt = str(l_t)
        lt_nm.insert(num,list500_names[num])            
        lt_time.insert(num,loadt)
        nm.insert(num,num)
        lt_url.insert(num,lc)

In [42]:
#running the function for the first 20 sites
loadtime (list_company_website,list500_names,0,20)

In [43]:
#creating the data frame with the loading times
d3 = {'company' : pd.Series(lt_nm, index=[nm]),'url' : pd.Series(lt_url, index=[nm]),
      'loading time' : pd.Series(lt_time, index=[nm])}
loading_time = pd.DataFrame(d3)    
loading_time #we see the first 3 in the data frame

                     company loading time                             url
0                    Walmart        0.422                 www.walmart.com
1                Exxon Mobil        5.943              www.exxonmobil.com
2                      Apple        0.094                   www.apple.com
3         Berkshire Hathaway          0.0       www.berkshirehathaway.com
4                   McKesson        0.156                www.mckesson.com
5         UnitedHealth Group        0.886       www.unitedhealthgroup.com
6                 CVS Health        0.078               www.cvshealth.com
7             General Motors        0.047                      www.gm.com
8                 Ford Motor         0.11                    www.ford.com
9                   AT&amp;T        1.531                     www.att.com
10          General Electric        0.031                      www.ge.com
11         AmerisourceBergen          0.0       www.amerisourcebergen.com
12                   Verizon        0.141                 www.verizon.com
13                   Chevron        0.093                 www.chevron.com
14                    Costco        0.125                  www.costco.com
16                Amazon.com        0.312             www.thekrogerco.com
17  Walgreens Boots Alliance        0.533                  www.amazon.com
18                        HP        0.616  www.walgreensbootsalliance.com
19           Cardinal Health        0.203                      www.hp.com

In [58]:
#Find out how many and what type of images each site has
#first we create the initially empty lists
p_p = []
p_d = []
p_jpg = []
p_jpeg = []
p_gif = []
p_tif = []
p_tiff = []
p_bmp = []
p_jpe = []
p_nm = []
p_tt = []
nm = []
p_url = []

In [59]:
#Then we create the function that will explore the html pages and search for the images
def images (list500_sites,list500_names,list500_url,start,end):
    for num in range(start,end):
        line = str(list500_sites[num])
        image = ['.png','.dib','.jpg','.jpeg','.bmp','.jpe','.gif','.tif','.tiff'] 
        totalnumber = 0 
        for index in range(len(image)):
            x = image[index]
            photo = re.findall(x,line)
            if x == '.png':
                p = str (len(photo))
            if x == '.dib':
                d = str (len(photo))
            if x == '.jpg':
                jpg = str (len(photo))
            if x == '.jpeg':
                jpeg = str (len(photo))
            if x == '.gif':
                gif = str (len(photo))
            if x == '.tif':
                tif = str (len(photo))
            if x == '.tiff':
                tiff = str (len(photo))
            if x == '.bmp':
                bmp = str (len(photo))
            if x == '.jpe':
                jpe = str (len(photo))
            totalnumber = len(photo) + totalnumber
        total = str (totalnumber)
        p_nm.insert(num,list500_names[num])            
        p_p.insert(num,p)  
        p_d.insert(num,d)  
        p_jpg.insert(num,jpg)  
        p_jpeg.insert(num,jpeg)  
        p_gif.insert(num,gif)  
        p_tif.insert(num,tif)  
        p_tiff.insert(num,tiff)  
        p_bmp.insert(num,bmp)  
        p_jpe.insert(num,jpe)  
        p_tt.insert(num,total)  
        nm.insert(num,num)
        p_url.insert(num,list500_url[num])

In [60]:
#Then we run the function for the first 20 sites for now
images (list500_sites,list500_names,list500_url,0,20)

In [65]:
#Finally we create a dataframe in order to see the results of the function
d4 = {'company' : pd.Series(p_nm, index=[nm]),'url' : pd.Series(p_url, index=[nm]),'total images' : pd.Series(p_tt, index=[nm]),
      '.png' : pd.Series(p_p, index=[nm]),'.dib' : pd.Series(p_d, index=[nm]),
      '.jpg' : pd.Series(p_jpg, index=[nm]),'.jpeg' : pd.Series(p_jpeg, index=[nm]),
      '.bmp' : pd.Series(p_bmp, index=[nm]),'.jpe' : pd.Series(p_jpe, index=[nm]),
      '.gif' : pd.Series(p_gif, index=[nm]),'.tif' : pd.Series(p_tif, index=[nm]),
      '.tiff' : pd.Series(p_tiff, index=[nm])}
images_types = pd.DataFrame(d4)    
images_types.head(3) #we see the first 3 in the data frame

,.bmp,.dib,.gif,.jpe,.jpeg,.jpg,.png,.tif,.tiff,company,total images,url
0,0,0,22,103,103,76,43,6,0,Walmart,353,www.walmart.com
1,0,0,1,0,0,16,2,4,0,Exxon Mobil,23,www.exxonmobil.com
2,0,0,1,0,0,0,2,0,0,Apple,3,www.apple.com