In [164]:
#First we import the libraries we will need
import urllib
import urllib2
import time
import os
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [165]:
#First of all we need to find all the name of the sites that belong to fortune 500. This can happen if we seperate
#The information needed from the below link
url = "http://www.zyxware.com/articles/4344/list-of-fortune-500-companies-and-their-websites"
list_company_number =[]
list_company_name = []
list_company_website = []
list500_sites = []
list500_names = []
list500_num = []
list500_url = []

In [166]:
#In order to extract the needed informations we will create 3 lists. The first one will contain the rank of each site, the
#second one will contain the name of the company and the 3rd one will contain the actual link of the company's site.
#For achieving this purpose we will create a funstion that will in its turn create those three list.
#In order to know if the function worked we will ask it to return the first element of each list along with a sentence.
def websites (url): 
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    browser = urllib2.build_opener() 
    browser.addheaders = [('User-agent', 'Mozilla/5.0')]
    response = browser.open(url)# this might throw an exception if something goes wrong.
    myHTML = response.read()
    soup = BeautifulSoup(myHTML,"lxml")    
    o = 0
    td_list =[]
    for row2 in soup.html.body.findAll('td'):
        td_list.insert(o, row2)
        o = o + 1
    a = 0
    b = 1
    c = 2
    list_numbering = 0
    for i in range (0,500):        
        num = str(td_list[a])
        company = str(td_list[b])
        site = str(td_list[c])
        c_num = re.findall('>(.+?)</td>',num)  
        c_num = str(c_num[0])
        c_name = re.findall('>(.+?)</td>',company)
        c_name = str(c_name[0])
        c_site = re.findall('">(.+?)</a>',site)
        c_site = str(c_site[0])        
        list_company_number.insert(list_numbering,c_num)
        list_company_name.insert(list_numbering,c_name)
        list_company_website.insert(list_numbering,c_site)
        a = a + 3
        b = b + 3
        c = c + 3
        list_numbering =  list_numbering + 1 
    end = time ()
    duration = round (end - start, 1)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', duration, ' seconds'

In [167]:
# After creating the function we should now test that it actually works correctly
websites (url)

The lists are ready in  1.4  seconds

In [168]:
#Try to validate each page url #pip install validators
import validators
nv = 0
for num in range(len(list_company_website)):
    line = 'http://' + str(list_company_website[num])
    x = validators.url(line)    
    if x != True:
        nv = nv +1
print "The validation is complete! There were" , nv, "not valid pages"

The validation is complete! There were 0 not valid pages

In [169]:
def list_company_HTML (list_company_website,list_company_name,start,end):
    import time
    browser2 = urllib2.build_opener()
    browser2.addheaders = [('User-agent', 'Mozilla/5.0')]
    for i in range (start,end):
        k = str(i + 1)        
        lc = str(list_company_website[i])        
        lc = lc.replace("'","")   
        lc = lc.replace("[","")
        lc = lc.replace("]","")
        lcn = str(list_company_name[i])        
        lcn = lcn.replace("'","")   
        lcn = lcn.replace("[","")
        lcn = lcn.replace("]","")   
        url2= 'http://' + lc
        #an exception might be thrown, so the code should be in a try-except block
        try:            
            response2=browser2.open(url2)
        except Exception: # this describes what to do if an exception is thrown
             continue     
        #read the response in html format. This is essentially a long piece of text
        myHTML2=response2.read()  
        list500_sites.insert(i,myHTML2)
        list500_names.insert(i,lcn)
        list500_url.insert(i,lc)
        list500_num.insert(i,k)
        #if os.path.exists ('html/'+str(k)+'_'+lcn+'.html'): os.remove('html/'+str(k)+'_'+lcn+'.html')
        #fwriter=open('html/'+str(k)+'_'+lcn+'.html','w')
        #fwriter.write(str(myHTML2))        
        #wait for 2 seconds
        time.sleep(2)
        print ("The site " + k + " has been downloaded!")    
    print "We saved: ",str(i + 1)," sites!"
    #print (len(list500_names),list500_names)

In [170]:
list_company_HTML (list_company_website,list_company_name,20,50) #THE NEXT TO DOWNLOAD

The site 21 has been downloaded!
The site 22 has been downloaded!
The site 23 has been downloaded!
The site 24 has been downloaded!
The site 25 has been downloaded!
The site 26 has been downloaded!
The site 27 has been downloaded!
The site 28 has been downloaded!
The site 29 has been downloaded!
The site 30 has been downloaded!
The site 31 has been downloaded!
The site 32 has been downloaded!
The site 33 has been downloaded!
The site 34 has been downloaded!
The site 35 has been downloaded!
The site 36 has been downloaded!
The site 37 has been downloaded!
The site 38 has been downloaded!
The site 39 has been downloaded!
The site 40 has been downloaded!
The site 42 has been downloaded!
The site 43 has been downloaded!
The site 44 has been downloaded!
The site 45 has been downloaded!
The site 46 has been downloaded!
The site 47 has been downloaded!
The site 48 has been downloaded!
The site 49 has been downloaded!
The site 50 has been downloaded!
We saved:  50  sites!

In [171]:
#As we can see there is one site that hasn't been downloaded in order to keep track of the sites that we could not download
#we will create a new list that we will keep them all together there
not_d = []
def not_downloadables (list500_names,list_company_name):
    met = 0    
    for i in range(10,20):
        b = 0
        if list_company_name[i] in list500_names:
            b = 1
        if b == 0:
            ct = list_company_name[i]
            not_d.insert(met,ct)
            met = met + 1
    print not_d

In [172]:
#Now we will run the function to see which sites haven;t been downloaded
not_downloadables (list500_names,list_company_name)

['General Electric', 'AmerisourceBergen', 'Verizon', 'Chevron', 'Costco', 'Fannie Mae', 'Kroger', 'Amazon.com', 'Walgreens Boots Alliance', 'HP']

In [173]:
#Now we will perfom a reliability test for the text that is included in the html code of the company's page
from pattern import metrics
readability = []
rdb = []

In [174]:
def readable (list500_names,list500_sites):
    for i in range (len(list500_names)):
            myHTML = list500_sites[i] 
            a = metrics.flesch_reading_ease(myHTML) * 100
            a = round (a, 1)
            if a > 90:    
                readability.insert(i,"Very easy")
                rdb.insert(i,6)
            elif a > 80:
                readability.insert(i,"Easy")
                rdb.insert(i,5)
            elif a > 70:
                readability.insert(i,"Fairly easy")
                rdb.insert(i,4)
            elif a > 60:
                readability.insert(i,"Standard")
                rdb.insert(i,3)
            elif a > 50:
                readability.insert(i,"Fairly difficult")
                rdb.insert(i,2)
            elif a > 30:
                readability.insert(i,"Difficult")
                rdb.insert(i,1)
            else:
                readability.insert(i,"Very Confusing")
                rdb.insert(i,0)
    print "The function is completed!"

In [175]:
readable (list500_names,list500_sites)

The function is completed!

In [176]:
d1 = {'company' : pd.Series(list500_names, index=[list500_num]),'url' : pd.Series(list500_url, index=[list500_num]),
      'Readability' : pd.Series(readability, index=[list500_num]),'Readability_index' : pd.Series(rdb, index=[list500_num])}
fre = pd.DataFrame(d1)    
fre #.head(3) #we see the first 3 in the data frame

,Readability,Readability_index,company,url
21,Very Confusing,0,Cardinal Health,www.cardinal.com
22,Very Confusing,0,Express Scripts Holding,www.express-scripts.com
23,Very Confusing,0,J.P. Morgan Chase,www.jpmorganchase.com
24,Difficult,1,Boeing,www.boeing.com
25,Very Confusing,0,Microsoft,www.microsoft.com
26,Very Confusing,0,Bank of America Corp.,www.bankofamerica.com
27,Very Confusing,0,Wells Fargo,www.wellsfargo.com
28,Very Confusing,0,Home Depot,www.homedepot.com
29,Very Confusing,0,Citigroup,www.citigroup.com
30,Very Confusing,0,Phillips 66,www.phillips66.com
31,Very Confusing,0,IBM,www.ibm.com
32,Very Confusing,0,Valero Energy,www.valero.com
33,Very Confusing,0,Anthem,www.antheminc.com
34,Very Confusing,0,Procter &amp; Gamble,www.pg.com
35,Very Confusing,0,State Farm Insurance Cos.,www.statefarm.com
36,Very Confusing,0,Alphabet,www.google.com
37,Very Confusing,0,Comcast,www.comcastcorporation.com
38,Very Confusing,0,Target,www.target.com
39,Very Confusing,0,Johnson &amp; Johnson,www.jnj.com
40,Very Confusing,0,MetLife,www.metlife.com
42,Very Confusing,0,Marathon Petroleum,www.marathonpetroleum.com
43,Very Confusing,0,Freddie Mac,www.freddiemac.com
44,Very Confusing,0,PepsiCo,www.pepsico.com
45,Very Confusing,0,United Technologies,www.utc.com
46,Very Confusing,0,Aetna,www.aetna.com
47,Very Confusing,0,Lowe’s,www.lowes.com
48,Very Confusing,0,UPS,www.ups.com
49,Very Confusing,0,AIG,www.aig.com
50,Very Confusing,0,Prudential Financial,www.prudential.com

In [177]:
#Retreiving the social media from each site
#First create empty lists for the ones that we will need to calculate
sm_f = []
sm_t = []
sm_i = []
sm_p = []
sm_y = []
sm_l = []   
sm_nm = [] 
nm = []
sm_url = []

In [178]:
#Then create a function that will feel in those lists so as to make the data frame later on

def socialmedia (list500_sites,list500_names,list500_url):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for i in range(len(list500_names)):
            myHTML = list500_sites[i]
            sm = ['facebook.com','twitter.com','instagram.com','pinterest.com','youtube.com','linkedin.com'] 
            number = 0 
            for index in range(len(sm)):
                x = sm[index]
                photo = re.findall(x,myHTML)                                
                if (len(photo) > 0):
                    if x == 'facebook.com':
                        answerf = 'yes'
                    if x == 'twitter.com':
                        answert = 'yes'
                    if x == 'instagram.com':
                        answeri = 'yes'
                    if x == 'pinterest.com':
                        answerp = 'yes'
                    if x == 'youtube.com':
                        answery = 'yes'
                    if x =='linkedin.com':
                        answerl = 'yes'                   
                else:
                     if x == 'facebook.com':
                        answerf = 'no'
                     if x == 'twitter.com':
                        answert = 'no'
                     if x == 'instagram.com':
                        answeri = 'no'
                     if x == 'pinterest.com':
                        answerp = 'no'
                     if x == 'youtube.com':
                        answery = 'no'
                     if x =='linkedin.com':
                        answerl = 'no'                 
            sm_nm.insert(i,list500_names[i]) 
            nm.insert(i,i)
            sm_url.insert(i,list500_url[i])
            sm_f.insert(num,answerf)
            sm_t.insert(num,answert)
            sm_i.insert(num,answeri)
            sm_p.insert(num,answerp)
            sm_y.insert(num,answery)
            sm_l.insert(num,answerl)
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are completed in ', minutes, ' minutes' 
    print 'The lists are ready in ', duration, ' seconds'

In [179]:
#Now we will run the function for the 25 first sites for starters
socialmedia (list500_sites,list500_names,list500_url)

The lists are completed in  0.0  minutes
The lists are ready in  0.016  seconds

In [180]:
#Finally we create the data frame with the elements we found            
d2 = {'company' : pd.Series(sm_nm, index=[nm]),'url' : pd.Series(sm_url, index=[nm]),
     'facebook' : pd.Series(sm_f, index=[nm]),'twitter' : pd.Series(sm_t, index=[nm]),
     'instagram' : pd.Series(sm_i, index=[nm]),'pinterest' : pd.Series(sm_p, index=[nm]),
     'youtube' : pd.Series(sm_y, index=[nm]),'linkedin' : pd.Series(sm_l, index=[nm]),}
social_media = pd.DataFrame(d2)    
social_media.head(3) #we see the first 3 in the data frame

,company,facebook,instagram,linkedin,pinterest,twitter,url,youtube
0,Cardinal Health,yes,no,yes,no,yes,www.cardinal.com,yes
1,Express Scripts Holding,no,no,no,no,no,www.express-scripts.com,no
2,J.P. Morgan Chase,yes,no,yes,no,yes,www.jpmorganchase.com,yes

In [181]:
#Create the lists we will need for the data frame
l_nm = []
l_ex = []
l_in = []
l_t = []
nm = []
l_url = []

In [182]:
#create the function that will calculate the different type of links
def links (list500_sites,list500_names,list500_url):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for num in range(len(list500_names)):        
            myHTML = list500_sites[num] 
            href = re.findall('href',myHTML)
            external = re.findall('href="https:',myHTML)
            ex = (len(external))
            alllinks = (len(href))
            internal =  (len(href) - len(external))
            l_nm.insert(num,list500_names[num])            
            l_ex.insert(num,ex)
            l_t.insert(num,alllinks)
            l_in.insert(num,internal)
            nm.insert(num,num)
            l_url.insert(num,list500_url[num])
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'
    print 'The lists are ready in ', duration, ' seconds'

In [183]:
#Run the function in order to find the external, internal and total links of each site
#For now we are running for the first 25 sites only
links (list500_sites,list500_names,list500_url)

The lists are ready in  0.0  minutes
The lists are ready in  0.005  seconds

In [184]:
#Create a dataframe so as to be able to see the results of the function we run
d3 = {'company' : pd.Series(l_nm, index=[nm]),'url' : pd.Series(l_url, index=[nm]),
      'external' : pd.Series(l_ex, index=[nm]),'internal' : pd.Series(l_in, index=[nm]),
     'total links' : pd.Series(l_t, index=[nm])}
sites_links = pd.DataFrame(d3)    
sites_links.head(3) #we see the first 3 in the data frame

,company,external,internal,total links,url
0,Cardinal Health,5,247,252,www.cardinal.com
1,Express Scripts Holding,14,44,58,www.express-scripts.com
2,J.P. Morgan Chase,39,243,282,www.jpmorganchase.com

In [185]:
#The initial lists we will need in order to calculate the loading time
lt_nm = [] 
lt_time = []
nm = []
lt_url = []

In [186]:
#the function that will calculate the loading time
def loadtime (list_company_website,list500_names,list500_url):
    from time import time
    browser2 = urllib2.build_opener()
    browser2.addheaders = [('User-agent', 'Mozilla/5.0')]
    for num in range(len(list500_names)):
        lc = str(list_company_website[num])        
        lc = lc.replace("'","")   
        lc = lc.replace("[","")
        lc = lc.replace("]","")
        url2 = 'http://' + lc        
        try:
            response2 = browser2.open(url2)
        except Exception: 
             continue#     
        start_time = time()
        myHTML2 = response2.read()
        end_time = time()
        response2.close()
        l_t = round(end_time-start_time, 3) #in order to be more readable we rounded the time
        loadt = str(l_t)
        lt_nm.insert(num,list500_names[num])            
        lt_time.insert(num,loadt)
        nm.insert(num,num)
        lt_url.insert(num,list500_url[num])
    print "The function is completed!"

In [187]:
#running the function for the first 25 sites
loadtime (list_company_website,list500_names,list500_url)

The function is completed!

In [188]:
#creating the data frame with the loading times
d4 = {'company' : pd.Series(lt_nm, index=[nm]),'url' : pd.Series(lt_url, index=[nm]),
      'loading time' : pd.Series(lt_time, index=[nm])}
loading_time = pd.DataFrame(d4)    
loading_time.head(3) #we see the first 3 in the data frame

                   company loading time                      url
0          Cardinal Health        1.944         www.cardinal.com
1  Express Scripts Holding         9.31  www.express-scripts.com
2        J.P. Morgan Chase        0.078    www.jpmorganchase.com

In [189]:
#Find out how many and what type of images each site has
#first we create the initially empty lists
p_p = []
p_d = []
p_jpg = []
p_jpeg = []
p_gif = []
p_tif = []
p_tiff = []
p_bmp = []
p_jpe = []
p_nm = []
p_tt =[]
nm = []
p_url = []

In [190]:
#Then we create the function that will explore the html pages and search for the images
def images (list500_sites,list500_names,list500_url):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for num in range(len(list500_names)):
            myHTML = list500_sites[num] 
            image = ['.png','.dib','.jpg','.jpeg','.bmp','.jpe','.gif','.tif','.tiff'] 
            totalnumber = 0 
            for index in range(len(image)):
                x = image[index]
                photo = re.findall(x,myHTML)
                if x == '.png':
                    p = str (len(photo))
                if x == '.dib':
                    d = str (len(photo))
                if x == '.jpg':
                    jpg = str (len(photo))
                if x == '.jpeg':
                    jpeg = str (len(photo))
                if x == '.gif':
                    gif = str (len(photo))
                if x == '.tif':
                    tif = str (len(photo))
                if x == '.tiff':
                    tiff = str (len(photo))
                if x == '.bmp':
                    bmp = str (len(photo))
                if x == '.jpe':
                    jpe = str (len(photo))
                totalnumber = len(photo) + totalnumber
            total = str (totalnumber)
            p_nm.insert(num,list500_names[num])            
            p_p.insert(num,p)  
            p_d.insert(num,d)  
            p_jpg.insert(num,jpg)  
            p_jpeg.insert(num,jpeg)  
            p_gif.insert(num,gif)  
            p_tif.insert(num,tif)  
            p_tiff.insert(num,tiff)  
            p_bmp.insert(num,bmp)  
            p_jpe.insert(num,jpe)  
            p_tt.insert(num,total)
            nm.insert(num,num)
            p_url.insert(num,list500_url[num])
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'
    print 'The lists are ready in ', duration, ' seconds'

In [191]:
#Then we run the function for the first 20 sites for now
images (list500_sites,list500_names,list500_url)

The lists are ready in  0.0  minutes
The lists are ready in  0.175  seconds

In [192]:
#Finally we create a dataframe in order to see the results of the function
d5 = {'company' : pd.Series(p_nm, index=[nm]),'url' : pd.Series(p_url, index=[nm]),
      '.png' : pd.Series(p_p, index=[nm]),'.dib' : pd.Series(p_d, index=[nm]),
'.jpg' : pd.Series(p_jpg, index=[nm]),'.jpeg' : pd.Series(p_jpeg, index=[nm]),
'.bmp' : pd.Series(p_bmp, index=[nm]),'.jpe' : pd.Series(p_jpe, index=[nm]),
'.gif' : pd.Series(p_gif, index=[nm]),'.tif' : pd.Series(p_tif, index=[nm]),
'.tiff' : pd.Series(p_tiff, index=[nm]), 'total images' : pd.Series(p_tt, index=[nm])}
images_types = pd.DataFrame(d5)    
images_types.head(3) #we see the first 3 in the data frame

,.bmp,.dib,.gif,.jpe,.jpeg,.jpg,.png,.tif,.tiff,company,total images,url
0,0,0,1,0,0,7,18,2,0,Cardinal Health,28,www.cardinal.com
1,0,0,0,0,0,0,0,0,0,Express Scripts Holding,0,www.express-scripts.com
2,0,0,1,0,0,30,30,2,0,J.P. Morgan Chase,63,www.jpmorganchase.com

In [193]:
#Now we will find the different dimensions that each site uses
#initially we create the empty lists we will need
nm = []
s_comp = []
s_dimensions = []
s_times = []
s_tt_dif_dim = []
ht = [] #list of different heights in each case
wt = [] #list of different widths in each case
h_w = [] # combinations of height and width
dif_size = []  
un_size = [] 
s_url = []

In [194]:
#With the below function we will gather in a variable all the different dimensions 
#and in another one all the times that each dimension occures for each html code
def find_dif_sizes (list500_sites,list500_names,list500_url):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for num in range(len(list500_names)):
            nm.insert(num,num)                  
            s_comp.insert(num,list500_names[num])
            s_url.insert(num,list500_url[num])
            myHTML = list500_sites[num] 
            soup = BeautifulSoup(myHTML, "lxml")
            # we create 2 local variables so as to gather the different dimensions and occurencies  of each page seperately
            s_dimensions_local = []
            s_times_local = []
            hw = 0 # we use it for the lists of height and width
            for tag in soup.find_all('img'): # find all the img in the first site html
                #Since in some cases either the height or the width is missing we would like to keep only the ones that have both dimensions
                 h = tag.attrs.get('height', None)
                 w = tag.attrs.get('width', None)
                 #we use if to check which ones have both        
                 if h != None:
                     if w != None:
                         ht.insert(hw,h)
                         wt.insert(hw,w)
                         hw = hw + 1                        
            hw2 = 0
            for l in range(len(ht)):
                 h_w_c = ht[l] + 'x' + wt[l]    #we create a str with the form (300x300) so as to be more easily to read later on 
                 h_w.insert(hw2,h_w_c)  #we put it in a new list
                 hw2 = hw2 + 1    
            if h_w == []:#we check if there are not any dimensions available
                 nm.insert(num,num)                  
                 s_comp.insert(num,list500_names[num])
                 s_dimensions.insert(num,0)
                 s_times.insert(num,0)    
            if h_w != []:#now we continue with the cases where the dimensions are indeed available             
                 from collections import Counter
                 hw_unique = Counter(h_w)
                 hw_unique2 = str(hw_unique) #the unique different dimensions for the specific site
                #Due to the fact that we are talking about a list we have to split the parts we need 
                 split1 = hw_unique2.split('{')
                 a = split1[1]
                 split2 = a.split('}')
                 b = split2[0]
                 split3 = b.split(',')
                 finalsplit = []
                 fs = []
                 z = 0
                 m = 1
                 j = 0
                 z1 = 0
                 m1 = 1
                #each of the items in split3 has a form '300x300 : 15' and in order to create the dataframe we have 
                #to split this form and keep the informations in different list
                 for numb in split3:                
                     oldstring = numb
                     newstring = oldstring.replace("'", "")
                     new = newstring.replace("'","")
                     string = new.replace(" ","")
                     finalstring = string.split(':')
                        #the finalstring is a list that contains the dimensions and the occurencies
                        #in order toseperate in different lists we create an additional loop
                     for xx in range(len(finalstring)):
                         ax = finalstring[xx]
                         if 'x' in ax:
                             s_dimensions_local.insert(z1,finalstring[xx])
                             z1 = z1 + 1
                         else:
                             s_times_local.insert(m1,finalstring[xx])
                             m1 = m1 + 1  
                #Now we can add to the lists the parts we created so as to have them all gathered together             
                 s_dimensions.insert(num,s_dimensions_local)
                 s_times.insert(num,s_times_local)                
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'
    print 'The lists are ready in ', duration, ' seconds'

In [195]:
#Run the function for the first 20 sites
find_dif_sizes (list500_sites,list500_names,list500_url)

The lists are ready in  0.0  minutes
The lists are ready in  0.873  seconds

In [196]:
#Find the unique different image dimensions and put them on a list
def unique_dif_sizes (s_dimensions,list500_names):
    ds = 0
    for num in range(len(list500_names)):
        for s in s_dimensions[num]:
            dif_size.insert(ds,s)
            ds = ds + 1
    dsu = 0
    for i in dif_size:
        if i not in un_size:
            un_size.insert(dsu,i)
            dsu = dsu + 1
    print(un_size)

In [197]:
#Run the finction unique_dif_sizes
unique_dif_sizes (s_dimensions,list500_names)

['29x29', '1x1', '115x223', '160x233', '41x192', '28x221', '300x993', '15x12', '170x300', '70x70', '83x250', '115x150', '11x8', '150x150', '75x85', 'x', '23x27', '86x226', '280x691', '42x168', '1x700', '27x156', '24x24', '1x10', '10x1', '8x10', '1x660', '19x1', '17x16']

In [198]:
#The lists we will need for the next function
t_f_s = []
ttf = []

In [199]:
#Function in order to check whether or not each company has these dimensions
def dimensions_per_company (un_size,list500_names):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    t_f_s.insert(0,un_size)
    ttf.insert(0,t_f_s)
    for num in range(len(list500_names)):
        s1a = s_dimensions[num] #dimensions of site num
        where = [] #empty list
        wh = 0
        haveornot = []
        for er in range (len(un_size)):
            for sizea in s1a:
                if sizea == un_size[er]:
                    where.insert(wh,str(er))
                    break
            if str(er) in where:
               haveornot.insert(er,True)                    
            else:
               haveornot.insert(er,False)
                    
        t_f_s.insert(num + 1,haveornot)
        ttf.insert(num + 1,t_f_s)  
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'
    print 'The lists are ready in ', duration, ' seconds'

In [200]:
#Run the function dimensions_per_company
dimensions_per_company (un_size,list500_names)

The lists are ready in  0.0  minutes
The lists are ready in  0.001  seconds

In [201]:
print(s_comp)

['Cardinal Health', 'Express Scripts Holding', 'J.P. Morgan Chase', 'Boeing', 'Microsoft', 'Bank of America Corp.', 'Wells Fargo', 'Home Depot', 'Citigroup', 'Phillips 66', 'IBM', 'Valero Energy', 'Anthem', 'Procter &amp; Gamble', 'State Farm Insurance Cos.', 'Alphabet', 'Comcast', 'Target', 'Johnson &amp; Johnson', 'MetLife', 'Marathon Petroleum', 'Freddie Mac', 'PepsiCo', 'United Technologies', 'Aetna', 'Lowe\xe2\x80\x99s', 'UPS', 'AIG', 'Prudential Financial']

In [202]:
#Create an initial dataframe where we will add the sizes later on
d6 = {'company' : pd.Series(s_comp, index=[nm]),'url' : pd.Series(s_url, index=[nm])}
sizess = pd.DataFrame(d6)    
sizess.head(3)

                   company                      url
0          Cardinal Health         www.cardinal.com
1  Express Scripts Holding  www.express-scripts.com
2        J.P. Morgan Chase    www.jpmorganchase.com

In [203]:
#Now we want to break the variable t_f_s in order to add the columns to the dataframe                  
#Finally we create the data frame with the elements we found 
def final_dimensions_dataframe (un_size,t_f_s,list500_names):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for q in range(len(un_size)):
        names = un_size[q]
        var = []
        for num in range(len(list500_names)):
            a = t_f_s[num+1]
            var.insert(num,a[q])
        sizess[names] = pd.Series(var, index=sizess.index) 
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'
    print 'The lists are ready in ', duration, ' seconds'

In [204]:
#Run the function final_dimensions_dataframe
final_dimensions_dataframe (un_size,t_f_s,list500_names)

The lists are ready in  0.0  minutes
The lists are ready in  0.011  seconds

In [205]:
sizess.head(3)

,company,url,29x29,1x1,115x223,160x233,41x192,28x221,300x993,15x12,...,42x168,1x700,27x156,24x24,1x10,10x1,8x10,1x660,19x1,17x16
0,Cardinal Health,www.cardinal.com,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Express Scripts Holding,www.express-scripts.com,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,J.P. Morgan Chase,www.jpmorganchase.com,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [50]:
#Now we would like to find the words in the text and the unique words of each html page
#First of all we need to have a dictionary with which we would check if the word we found truly exists
#The dictionary is available in the internet from a github acount from where we are going to read it
url_dictionary = "https://raw.githubusercontent.com/dwyl/english-words/master/words.txt"
browser = urllib2.build_opener()
browser.addheaders = [('User-agent', 'Mozilla/5.0')]
response = browser.open(url_dictionary)
html_dictionary = response.read()
html_dictionary
dicti = str(html_dictionary)
#dicti

In [51]:
#dict_new = dicti.split("\\n")
dict_new = dicti.split("\n")
dict_new[49] #the first 49 parts are not words so we have to remove them from the list

'a1'

In [52]:
dict_final = []
df = 0
for i in range (50,len(dict_new)):
    forfinal = dict_new[i]
    forfinal = forfinal.replace("'","")
    dict_final.insert(df,forfinal)
    df = df + 1
dict_final[0] #This is the original dictionary with which we will check each word

'aa'

In [206]:
#And now we will find each html file which words has inside
empty = []
wordsin = []
ocin = []
def html_which_word (list500_names):
    from time import time # I used it to see how much time it does to run the function
    start_t = time()
    for num in range(len(list500_sites)):
            line = list500_sites[num] 
            wordcount={}
            corwordcount={}
            simeiastiksis = ["/",".",",","=",">","<","?","|",":","_","]","[","$","&","%","(",")","{","}",'"',";","\\","-","!","+","#","=","@","^","*","'"]
            for ss in range(len(simeiastiksis)):
                simeio = simeiastiksis[ss]     
                line = line.replace(simeio, " ")
            for word1 in line.split():
                word1 = word1.lower()
                if word1 in dict_final:
                    if word1 not in wordcount:
                        wordcount[word1] = 1
                    else:
                        wordcount[word1] += 1     
            wordsin_local = []
            wl = 0
            ocin_local = []
            for k,v in wordcount.items():
                   #print (k,v)
                   wordsin_local.insert(wl,str(k))
                   ocin_local.insert(wl,str(v))
                   wl = wl + 1
            wordsin.insert(num,wordsin_local) # final list with all the words in each site
            ocin.insert(num,ocin_local)  #final list with all the occurencies of the words in each site
    end_t = time()
    total_t = round(end_t - start_t,3)
    total_ = round(total_t / 60,1)
    print('finished ',str(x) ,' sites in: ', str(total_),' minutes')

In [207]:
html_which_word (list500_names) #test the code for 2 sites

('finished ', 'True', ' sites in: ', '10.0', ' minutes')

In [208]:
#Create the dataframe for the words and unique words
d7 = {'company' : pd.Series(list500_names, index=[nm]),'url' : pd.Series(list500_url, index=[nm])}
wordss = pd.DataFrame(d7)    
wordss.head(3)

                   company                      url
0          Cardinal Health         www.cardinal.com
1  Express Scripts Holding  www.express-scripts.com
2        J.P. Morgan Chase    www.jpmorganchase.com

In [209]:
#Create the two lists we will need in order to make the dataframe
l1 = []
l2 = []
for num in range(len(list500_names)):
        line = list500_sites[num] 
        total_words = len(wordsin[num])
        occurencies = ocin[num] 
        l1.insert(num,total_words)
        count = 0 
        for a in occurencies :
            if a == '1':
                count = count + 1
        l2.insert(num,count)
wordss['total_words'] = pd.Series(l1, index=sizess.index)
wordss['unique_words'] = pd.Series(l2, index=sizess.index)          
wordss.head(3)

                   company                      url  total_words  unique_words
0          Cardinal Health         www.cardinal.com          700           269
1  Express Scripts Holding  www.express-scripts.com          331           151
2        J.P. Morgan Chase    www.jpmorganchase.com          879           298

In [210]:
#In order to validate the html code we will use the w3 validator
#We will validate each url and then we will open the url of the validation page
#so as to extract the errors, the info warnings and the non-document-error io informations 
#First we create the empty lists we would use later on
num_errors = []
num_info_warnings = []
num_non_doc = [] 
nm = []
num_open_page = []
empty = ""

In [211]:
#Then we create the function that will pull the informations we want
def html_validation (list500_url,list500_names):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for num in range(len(list500_names)):
        line = list500_url[num] 
        url_check = "https://validator.w3.org/nu/?doc=https://" + line
        browser = urllib2.build_opener()
        browser.addheaders = [('User-agent', 'Mozilla/5.0')]
        response = browser.open(url_check)
        html_check = response.read()
        html_check
        check = str(html_check)
        er = 0
        err = 0
        errr = 0
        e = False
        if check != empty:
            e = True
            soup = BeautifulSoup(check,"lxml")
            o = 0
            keyf = []
            for row in soup.html.body.findAll('div'):
                keyf.insert(o,row)
                o = o + 1
            #print(len(keyf),list500_url[num], "site number: ", str(num))        
            if len(keyf) != 0:       
                    keyfin = str(keyf[2]) #the elements we need is in the 2nd div of the code
                    dol= re.findall('class="error"',keyfin)            
                    er = er + len(dol)
                    doll= re.findall('class="info warning"',keyfin)            
                    err = err + len(doll)
                    dolll= re.findall('class="non-document-error io"',keyfin)            
                    errr = errr + len(dolll)
        num_errors.insert(num,er)
        num_info_warnings.insert(num,err)
        num_non_doc.insert(num,errr)  
        nm.insert(num,num) 
        num_open_page.insert(num,e)
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'

In [212]:
#Now we will run the function we created
html_validation (list500_url,list500_names)

The lists are ready in  2.8  minutes

In [213]:
#After the checks we will create the dataframe with the informations we want
d8 = {'company' : pd.Series(list500_names, index=[nm]),'url' : pd.Series(list500_url, index=[nm]),
      'The_page_opened' : pd.Series(num_open_page, index=[nm]),'number_of_errors' : pd.Series(num_errors, index=[nm]),
      'number_of_warning' : pd.Series(num_info_warnings, index=[nm]),'non-document-error' : pd.Series(num_non_doc, index=[nm])}
html_val = pd.DataFrame(d8)    
html_val.head(3)

,The_page_opened,company,non-document-error,number_of_errors,number_of_warning,url
0,True,Cardinal Health,1,0,0,www.cardinal.com
1,True,Express Scripts Holding,0,10,1,www.express-scripts.com
2,True,J.P. Morgan Chase,0,2,0,www.jpmorganchase.com

In [214]:
#The next step is to take some informations from the fortune 500 site for each company
#In order to achieve that we should open the pages for each one of the sites seperately
#Since there is a pattern in the way the pages are named it shouldn't be difficult
#Firstly we should create the pattern with which we will download the pages
#By running the code we can see that the names of each comany are not written exactly as we have saved them
#So we do need to alter the names first in order for the below function to run

In [215]:
#creating a new list with alterations in order for the names
#to match the ones that fortune 500 uses so that we can download the html page
list_company_name_new = []
for num in range (0,500):
    cn = list_company_name[num]
    cn = cn.replace(" ", "-")
    cn = cn.replace("&", "")
    cn = cn.replace("’", "")
    cn = cn.replace(".", "-")
    cn = cn.replace("amp;", "")    
    company = cn.lower()
    list_company_name_new.insert(num,cn)

In [216]:
fortune_pages = []
def fortune500 (list_company_name_new):
    from time import time # I used it to see how much time it does to run the function
    start = time ()
    for num3 in range (20,50): #we put 25 for testing
        i = str (num3 +1)    
        companyname =  list_company_name_new[num3]
        browser = urllib2.build_opener() #because i work from different computers with different pyhton version some commands are not recognizable in each version
        browser.addheaders = [('User-agent', 'Mozilla/5.0')]
        site_fortune = "http://beta.fortune.com/fortune500/"+companyname+"-"+ i    
        page_fortune = browser.open(site_fortune)
        html_fortune = page_fortune.read()    
        print("fortune page for company: ", list_company_name_new[num3],i)
        fortune_pages.insert(num3, html_fortune)
    end = time ()
    duration = round (end - start, 3)
    minutes = round (duration /60, 1)
    print 'The lists are ready in ', minutes, ' minutes'
    print 'The lists are ready in ', duration, ' seconds'

In [217]:
#Run the function we created
fortune500 (list_company_name_new)

('fortune page for company: ', 'Cardinal-Health', '21')
('fortune page for company: ', 'Express-Scripts-Holding', '22')
('fortune page for company: ', 'J-P--Morgan-Chase', '23')
('fortune page for company: ', 'Boeing', '24')
('fortune page for company: ', 'Microsoft', '25')
('fortune page for company: ', 'Bank-of-America-Corp-', '26')
('fortune page for company: ', 'Wells-Fargo', '27')
('fortune page for company: ', 'Home-Depot', '28')
('fortune page for company: ', 'Citigroup', '29')
('fortune page for company: ', 'Phillips-66', '30')
('fortune page for company: ', 'IBM', '31')
('fortune page for company: ', 'Valero-Energy', '32')
('fortune page for company: ', 'Anthem', '33')
('fortune page for company: ', 'Procter--Gamble', '34')
('fortune page for company: ', 'State-Farm-Insurance-Cos-', '35')
('fortune page for company: ', 'Alphabet', '36')
('fortune page for company: ', 'Comcast', '37')
('fortune page for company: ', 'Target', '38')
('fortune page for company: ', 'Johnson--Johnson', '39')
('fortune page for company: ', 'MetLife', '40')
('fortune page for company: ', 'Archer-Daniels-Midland', '41')
('fortune page for company: ', 'Marathon-Petroleum', '42')
('fortune page for company: ', 'Freddie-Mac', '43')
('fortune page for company: ', 'PepsiCo', '44')
('fortune page for company: ', 'United-Technologies', '45')
('fortune page for company: ', 'Aetna', '46')
('fortune page for company: ', 'Lowes', '47')
('fortune page for company: ', 'UPS', '48')
('fortune page for company: ', 'AIG', '49')
('fortune page for company: ', 'Prudential-Financial', '50')
The lists are ready in  1.5  minutes
The lists are ready in  91.012  seconds

In [232]:
#Now that we have opened the url we are going to extract some informations that we need from them
#In order to do that initially we have to create the variables we will need
keyf =[]
per =[]
rev_dol = []
rev_per = []
prof_dol = []
prof_per = []
assets_dol = []
assets_per = []
tse_dol = []
tse_per = []
mar_dol = []
mar_per = []
market = []
nm = []
ln = []
urln = []
empty = []

In [233]:
def fortune_metrics (list_company_name,list_company_website):
    x = 0
    for n in range (20,50):   #we put 25 for testing
        nm.insert(x,x)
        ln.insert(x,list_company_name[n])
        urln.insert(x,list_company_website[n])
        files = fortune_pages[x]
        soup = BeautifulSoup(files,"lxml")
        o=0
        for row in soup.html.body.findAll('tbody'):
            keyf.insert(o,row)
            o=o+1
        keyfin = keyf[0] #the elements we need is in the first tbody of the code
        data = keyfin.findAll('td')

        one = str(data[0]) # revenue
        two = str(data[1]) # revenue in dollars we need to extract this
        revdol= re.findall('>\$(.+?)</td>',two) #we keep only the numbers
        if revdol[0] != empty:
            w = revdol[0]
            a = w.replace("[", "")
            r = a.replace("]","")
            rev_dol.insert(x,r)
        else:
            rev_dol.insert(x,'not available')
        tria = str(data[2])# revenue in percentage we need to extract this as well
        revper= re.findall('>(.+?)%</td>',tria) #we keep only the numbers
        if revper != empty:    
            w = revper[0]
            a = w.replace("[", "")
            r1 = a.replace("]","")    
            rev_per.insert(x,r1) 
        else:
            rev_per.insert(x,'not available')
        four = str(data[3])   # profit     
        five = str(data[4])   # profit in dollars we need to extract this   
        profdol= re.findall('>\$(.+?)</td>',five) #we keep only the numbers
        if profdol != empty:
            w = profdol[0]
            a = w.replace("[", "")
            p = a.replace("]","")
            prof_dol.insert(x,p)
        else:
            prof_dol.insert(x,'not available')
        six = str(data[5])    # profit in percentage we need to extract this as well   
        profper = re.findall('>(.+?)%</td>',six) #we keep only the numbers
        if profper != empty:
            w = profper[0]
            a = w.replace("[", "")
            p1 = a.replace("]","")    
            prof_per.insert(x,p1)
        else:
            prof_per.insert(x,'not available')
        seven = str(data[6]) #assets
        eight = str(data[7]) #assets in dollars we need to extract this
        assetsdol= re.findall('>\$(.+?)</td>',eight) #we keep only the numbers
        if assetsdol != empty:
            w = assetsdol[0]
            a = w.replace("[", "")
            ass = a.replace("]","")
            assets_dol.insert(x,ass)
        else:
            assets_dol.insert(x,'not available')
        ten = str(data[9]) #Total Stockholder Equity ($M)    
        eleven = str(data[10]) #Total Stockholder Equity ($M) in dollars we need to extract this
        tsedol= re.findall('>\$(.+?)</td>',eleven) #we keep only the numbers
        if tsedol != empty:
            w = tsedol[0]
            a = w.replace("[", "")
            ts = a.replace("]","")
            tse_dol.insert(x,ts)
        else:
            tse_dol.insert(x,'not available')
        thirteen = str(data[12]) # market value
        fourteen = str(data[13]) # market value in dollars we need to extract this
        mardol= re.findall('>\$(.+?)</td>',fourteen) #we keep only the numbers
        if mardol != empty:
            w = mardol[0]
            a = w.replace("[", "")
            mar = a.replace("]","")
            mar_dol.insert(x,mar)
        else:
            mar_dol.insert(x,'not available')
        x = x + 1
    print "The function is complete!"

In [234]:
fortune_metrics (list_company_name,list_company_website)

The function is complete!

In [235]:
d9 = {'company' : pd.Series(ln, index=[nm]),'url' : pd.Series(urln, index=[nm]),
      'Revenues $' : pd.Series(rev_dol, index=[nm]),'Revenues %' : pd.Series(rev_per, index=[nm]),
      'Assets $' : pd.Series(assets_dol, index=[nm]),
      'Total Stockholder Equity $' : pd.Series(tse_dol, index=[nm]),
      'Market value $' : pd.Series(mar_dol, index=[nm])}
fort500 = pd.DataFrame(d9)    
fort500

,Assets $,Market value $,Revenues $,Revenues %,Total Stockholder Equity $,company,url
0,"30,142","26,989","102,531",12.6,"6,256",Cardinal Health,www.cardinal.com
1,"53,243","43,467","101,752",0.9,"17,373",Express Scripts Holding,www.express-scripts.com
2,"2,351,698","217,353","101,006",-1.1,"247,573",J.P. Morgan Chase,www.jpmorganchase.com
3,"94,408","82,645","96,114",5.9,"6,335",Boeing,www.boeing.com
4,"176,223","436,831","93,580",7.8,"80,083",Microsoft,www.microsoft.com
5,"2,144,316","139,603","93,056",-2.2,"256,205",Bank of America Corp.,www.bankofamerica.com
6,"1,787,632","244,568","90,033",1.9,"192,998",Wells Fargo,www.wellsfargo.com
7,"42,549","167,181","88,519",6.4,"6,316",Home Depot,www.homedepot.com
8,"1,731,210","122,796","88,275",-2.6,"221,857",Citigroup,www.citigroup.com
9,"48,580","45,566","87,169",-41.7,"23,100",Phillips 66,www.phillips66.com
10,"110,495","145,525","82,461",-12.4,"14,262",IBM,www.ibm.com
11,"44,343","30,132","81,824",-34.5,"20,527",Valero Energy,www.valero.com
12,"61,718","36,325","79,157",7.2,"23,044",Anthem,www.antheminc.com
13,"129,495","222,613","78,756",-6.8,"62,419",Procter &amp; Gamble,www.pg.com
14,"241,183",not available,"75,697",6.4,"82,660",State Farm Insurance Cos.,www.statefarm.com
15,"147,461","525,119","74,989",4.9,"120,331",Alphabet,www.google.com
16,"166,574","149,182","74,510",8.3,"52,269",Comcast,www.comcastcorporation.com
17,"40,262","49,367","73,785",-1.0,"12,957",Target,www.target.com
18,"133,411","298,563","70,074",-5.7,"71,150",Johnson &amp; Johnson,www.jnj.com
19,"877,933","48,188","69,951",-4.6,"67,949",MetLife,www.metlife.com
20,"40,157","21,320","67,702",-16.6,"17,899",Archer Daniels Midland,www.adm.com
21,"43,115","19,677","64,566",-29.4,"13,237",Marathon Petroleum,www.marathonpetroleum.com
22,"1,986,050",871,"63,491",-8.5,"2,940",Freddie Mac,www.freddiemac.com
23,"69,667","149,753","63,056",-5.4,"11,923",PepsiCo,www.pepsico.com
24,"87,484","83,727","61,047",-6.2,"27,358",United Technologies,www.utc.com
25,"53,424","39,278","60,337",4.0,"16,114",Aetna,www.aetna.com
26,"31,266","67,981","59,074",5.1,"7,654",Lowe’s,www.lowes.com
27,"38,311","93,277","58,363",0.2,"2,470",UPS,www.ups.com
28,"496,943","61,283","58,327",-9.4,"89,658",AIG,www.aig.com
29,"757,388","32,086","57,119",5.5,"41,890",Prudential Financial,www.prudential.com

In [236]:
fort500.merge(html_val, left_on='company', right_on='company', how='outer')

,Assets $,Market value $,Revenues $,Revenues %,Total Stockholder Equity $,company,url_x,The_page_opened,non-document-error,number_of_errors,number_of_warning,url_y
0,"30,142","26,989","102,531",12.6,"6,256",Cardinal Health,www.cardinal.com,True,1.0,0.0,0.0,www.cardinal.com
1,"53,243","43,467","101,752",0.9,"17,373",Express Scripts Holding,www.express-scripts.com,True,0.0,10.0,1.0,www.express-scripts.com
2,"2,351,698","217,353","101,006",-1.1,"247,573",J.P. Morgan Chase,www.jpmorganchase.com,True,0.0,2.0,0.0,www.jpmorganchase.com
3,"94,408","82,645","96,114",5.9,"6,335",Boeing,www.boeing.com,True,1.0,0.0,0.0,www.boeing.com
4,"176,223","436,831","93,580",7.8,"80,083",Microsoft,www.microsoft.com,True,0.0,410.0,88.0,www.microsoft.com
5,"2,144,316","139,603","93,056",-2.2,"256,205",Bank of America Corp.,www.bankofamerica.com,True,0.0,42.0,103.0,www.bankofamerica.com
6,"1,787,632","244,568","90,033",1.9,"192,998",Wells Fargo,www.wellsfargo.com,True,0.0,87.0,12.0,www.wellsfargo.com
7,"42,549","167,181","88,519",6.4,"6,316",Home Depot,www.homedepot.com,True,0.0,28.0,14.0,www.homedepot.com
8,"1,731,210","122,796","88,275",-2.6,"221,857",Citigroup,www.citigroup.com,True,0.0,2.0,0.0,www.citigroup.com
9,"48,580","45,566","87,169",-41.7,"23,100",Phillips 66,www.phillips66.com,True,1.0,0.0,0.0,www.phillips66.com
10,"110,495","145,525","82,461",-12.4,"14,262",IBM,www.ibm.com,True,0.0,17.0,8.0,www.ibm.com
11,"44,343","30,132","81,824",-34.5,"20,527",Valero Energy,www.valero.com,True,0.0,45.0,6.0,www.valero.com
12,"61,718","36,325","79,157",7.2,"23,044",Anthem,www.antheminc.com,True,0.0,35.0,4.0,www.antheminc.com
13,"129,495","222,613","78,756",-6.8,"62,419",Procter &amp; Gamble,www.pg.com,True,0.0,7.0,2.0,www.pg.com
14,"241,183",not available,"75,697",6.4,"82,660",State Farm Insurance Cos.,www.statefarm.com,True,0.0,36.0,9.0,www.statefarm.com
15,"147,461","525,119","74,989",4.9,"120,331",Alphabet,www.google.com,True,0.0,18.0,2.0,www.google.com
16,"166,574","149,182","74,510",8.3,"52,269",Comcast,www.comcastcorporation.com,True,1.0,0.0,0.0,www.comcastcorporation.com
17,"40,262","49,367","73,785",-1.0,"12,957",Target,www.target.com,True,0.0,5.0,0.0,www.target.com
18,"133,411","298,563","70,074",-5.7,"71,150",Johnson &amp; Johnson,www.jnj.com,True,0.0,16.0,0.0,www.jnj.com
19,"877,933","48,188","69,951",-4.6,"67,949",MetLife,www.metlife.com,True,0.0,44.0,15.0,www.metlife.com
20,"40,157","21,320","67,702",-16.6,"17,899",Archer Daniels Midland,www.adm.com,NaN,NaN,NaN,NaN,NaN
21,"43,115","19,677","64,566",-29.4,"13,237",Marathon Petroleum,www.marathonpetroleum.com,True,0.0,25.0,4.0,www.marathonpetroleum.com
22,"1,986,050",871,"63,491",-8.5,"2,940",Freddie Mac,www.freddiemac.com,True,1.0,0.0,0.0,www.freddiemac.com
23,"69,667","149,753","63,056",-5.4,"11,923",PepsiCo,www.pepsico.com,True,0.0,29.0,6.0,www.pepsico.com
24,"87,484","83,727","61,047",-6.2,"27,358",United Technologies,www.utc.com,True,1.0,0.0,0.0,www.utc.com
25,"53,424","39,278","60,337",4.0,"16,114",Aetna,www.aetna.com,True,0.0,24.0,1.0,www.aetna.com
26,"31,266","67,981","59,074",5.1,"7,654",Lowe’s,www.lowes.com,True,0.0,54.0,8.0,www.lowes.com
27,"38,311","93,277","58,363",0.2,"2,470",UPS,www.ups.com,True,0.0,8.0,0.0,www.ups.com
28,"496,943","61,283","58,327",-9.4,"89,658",AIG,www.aig.com,True,0.0,19.0,10.0,www.aig.com
29,"757,388","32,086","57,119",5.5,"41,890",Prudential Financial,www.prudential.com,True,0.0,61.0,19.0,www.prudential.com

In [237]:
result = pd.merge(fort500, html_val, how='inner', on=['company', 'company'])
result2 = pd.merge(social_media, fre, how='inner', on=['company', 'company'])
result3 = pd.merge(wordss, sizess, how='inner', on=['company', 'company'])
result4 = pd.merge(images_types, loading_time, how='inner', on=['company', 'company'])
result5 = pd.merge(result, sites_links, how='inner', on=['company', 'company'])
result6 = pd.merge(result5, result2, how='inner', on=['company', 'company'])
result7 = pd.merge(result6, result3, how='inner', on=['company', 'company'])
final3 = pd.merge(result7, result4, how='inner', on=['company', 'company'])
del final3['url_x_x']
del final3['url_x_y']
del final3['url_y_y']
final3

,Assets $,Market value $,Revenues $,Revenues %,Total Stockholder Equity $,company,The_page_opened,non-document-error,number_of_errors,number_of_warning,...,.dib,.gif,.jpe,.jpeg,.jpg,.png,.tif,.tiff,total images,loading time
0,"30,142","26,989","102,531",12.6,"6,256",Cardinal Health,True,1,0,0,...,0,1,0,0,7,18,2,0,28,1.944
1,"53,243","43,467","101,752",0.9,"17,373",Express Scripts Holding,True,0,10,1,...,0,0,0,0,0,0,0,0,0,9.31
2,"2,351,698","217,353","101,006",-1.1,"247,573",J.P. Morgan Chase,True,0,2,0,...,0,1,0,0,30,30,2,0,63,0.078
3,"94,408","82,645","96,114",5.9,"6,335",Boeing,True,1,0,0,...,0,0,0,0,111,0,0,0,111,0.0
4,"176,223","436,831","93,580",7.8,"80,083",Microsoft,True,0,410,88,...,0,0,0,0,0,1,0,0,1,0.157
5,"2,144,316","139,603","93,056",-2.2,"256,205",Bank of America Corp.,True,0,42,103,...,0,32,0,0,5,2,2,0,41,0.78
6,"1,787,632","244,568","90,033",1.9,"192,998",Wells Fargo,True,0,87,12,...,0,7,0,0,13,14,3,0,37,0.113
7,"42,549","167,181","88,519",6.4,"6,316",Home Depot,True,0,28,14,...,0,10,0,0,37,2,0,0,49,0.041
8,"1,731,210","122,796","88,275",-2.6,"221,857",Citigroup,True,0,2,0,...,0,0,0,0,0,0,0,0,0,0.104
9,"48,580","45,566","87,169",-41.7,"23,100",Phillips 66,True,1,0,0,...,0,4,0,0,12,25,0,0,41,0.385
10,"110,495","145,525","82,461",-12.4,"14,262",IBM,True,0,17,8,...,0,0,0,0,11,13,0,0,24,0.043
11,"44,343","30,132","81,824",-34.5,"20,527",Valero Energy,True,0,45,6,...,0,2,0,0,8,14,0,0,24,0.001
12,"61,718","36,325","79,157",7.2,"23,044",Anthem,True,0,35,4,...,0,3,0,0,8,16,0,0,27,0.155
13,"129,495","222,613","78,756",-6.8,"62,419",Procter &amp; Gamble,True,0,7,2,...,0,0,0,0,0,0,0,0,0,0.059
14,"241,183",not available,"75,697",6.4,"82,660",State Farm Insurance Cos.,True,0,36,9,...,0,0,0,0,10,4,2,0,16,0.129
15,"166,574","149,182","74,510",8.3,"52,269",Comcast,True,1,0,0,...,0,0,0,0,1,12,0,0,13,0.684
16,"40,262","49,367","73,785",-1.0,"12,957",Target,True,0,5,0,...,0,6,0,0,0,12,0,0,18,1.374
17,"133,411","298,563","70,074",-5.7,"71,150",Johnson &amp; Johnson,True,0,16,0,...,0,3,6,6,21,9,0,0,45,0.567
18,"877,933","48,188","69,951",-4.6,"67,949",MetLife,True,0,44,15,...,0,0,0,0,12,23,4,0,39,0.218
19,"43,115","19,677","64,566",-29.4,"13,237",Marathon Petroleum,True,0,25,4,...,0,8,0,0,3,10,0,0,21,0.072
20,"1,986,050",871,"63,491",-8.5,"2,940",Freddie Mac,True,1,0,0,...,0,1,0,0,3,9,27,0,40,0.159
21,"69,667","149,753","63,056",-5.4,"11,923",PepsiCo,True,0,29,6,...,0,2,2,2,17,30,0,0,53,1.308
22,"87,484","83,727","61,047",-6.2,"27,358",United Technologies,True,1,0,0,...,0,1,3,3,110,19,13,0,149,0.436
23,"53,424","39,278","60,337",4.0,"16,114",Aetna,True,0,24,1,...,0,3,0,0,12,31,10,0,56,0.15
24,"31,266","67,981","59,074",5.1,"7,654",Lowe’s,True,0,54,8,...,0,2,0,0,0,3,0,0,5,1.208
25,"38,311","93,277","58,363",0.2,"2,470",UPS,True,0,8,0,...,0,12,0,0,0,0,0,0,12,1.793
26,"496,943","61,283","58,327",-9.4,"89,658",AIG,True,0,19,10,...,0,0,0,0,21,1,1,0,23,0.057
27,"757,388","32,086","57,119",5.5,"41,890",Prudential Financial,True,0,61,19,...,0,13,0,0,9,13,0,0,35,0.0

In [238]:
final3.to_csv('total_20_50.csv', sep=';')

In [239]:
data10 = pd.read_csv("total_10.csv", sep=';')  
data10_20 = pd.read_csv("total_10_20.csv", sep=';')  
data20_50 = pd.read_csv("total_20_50.csv", sep=';')

In [240]:
frames = [data10, data10_20,data20_50]
result = pd.concat(frames)
result

,.bmp,.dib,.gif,.jpe,.jpeg,.jpg,.png,.tif,.tiff,10x1,...,total images,total links,total_words,twitter,unique_words,url,url_y_x,url_y_x.1,x,youtube
0,0,0,51,103,103,85,56,17,0,NaN,...,415,1186,1509,yes,347,www.walmart.com,www.walmart.com,www.walmart.com,NaN,yes
1,0,0,1,0,0,16,2,4,0,NaN,...,23,807,805,no,156,www.exxonmobil.com,www.exxonmobil.com,www.exxonmobil.com,NaN,no
2,0,0,1,0,0,0,2,0,0,NaN,...,3,95,318,no,127,www.apple.com,www.apple.com,www.apple.com,NaN,yes
3,0,0,1,0,0,0,0,0,0,NaN,...,1,18,170,no,103,www.berkshirehathaway.com,www.berkshirehathaway.com,www.berkshirehathaway.com,NaN,no
4,0,0,0,0,0,6,7,0,0,NaN,...,13,142,504,yes,172,www.mckesson.com,www.mckesson.com,www.mckesson.com,NaN,yes
5,0,0,0,0,0,0,0,0,0,NaN,...,0,121,724,yes,284,www.unitedhealthgroup.com,www.unitedhealthgroup.com,www.unitedhealthgroup.com,NaN,no
6,0,0,1,1,0,1,16,1,0,NaN,...,20,154,716,yes,270,www.cvshealth.com,www.cvshealth.com,www.cvshealth.com,NaN,yes
7,0,0,0,0,0,17,92,8,0,NaN,...,117,220,456,yes,113,www.gm.com,www.gm.com,www.gm.com,NaN,yes
8,0,0,1,0,0,104,6,22,0,NaN,...,133,193,1238,no,507,www.ford.com,www.ford.com,www.ford.com,NaN,no
9,0,1,1,0,0,20,29,5,0,NaN,...,56,371,924,yes,235,www.att.com,www.att.com,www.att.com,NaN,yes
0,0,0,1,1,0,6,2,0,0,NaN,...,10,129,505,yes,169,www.ge.com,www.ge.com,www.ge.com,NaN,yes
1,0,0,0,0,0,0,0,0,0,NaN,...,0,0,6,no,5,www.amerisourcebergen.com,www.amerisourcebergen.com,www.amerisourcebergen.com,NaN,no
2,0,0,0,0,0,0,2,0,0,NaN,...,2,54,301,no,131,www.verizon.com,www.verizon.com,www.verizon.com,NaN,no
3,0,0,4,0,0,11,13,0,0,NaN,...,28,293,525,yes,121,www.chevron.com,www.chevron.com,www.chevron.com,NaN,yes
4,0,0,8,0,0,29,47,12,1,NaN,...,97,278,1579,no,531,www.costco.com,www.costco.com,www.costco.com,NaN,no
5,0,0,1,0,0,9,31,3,0,NaN,...,44,105,502,yes,271,www.thekrogerco.com,www.thekrogerco.com,www.thekrogerco.com,NaN,yes
6,0,0,0,0,0,1,0,0,0,NaN,...,1,3,197,no,102,www.amazon.com,www.amazon.com,www.amazon.com,NaN,no
7,0,0,0,0,0,8,0,1,0,NaN,...,9,115,456,yes,125,www.walgreensbootsalliance.com,www.walgreensbootsalliance.com,www.walgreensbootsalliance.com,NaN,no
8,0,0,0,0,0,13,1,0,0,NaN,...,14,174,417,no,159,www.hp.com,www.hp.com,www.hp.com,NaN,yes
0,0,0,1,0,0,7,18,2,0,False,...,28,252,700,yes,269,www.cardinal.com,www.cardinal.com,www.cardinal.com,False,yes
1,0,0,0,0,0,0,0,0,0,False,...,0,58,331,no,151,www.express-scripts.com,www.express-scripts.com,www.express-scripts.com,False,no
2,0,0,1,0,0,30,30,2,0,False,...,63,282,879,yes,298,www.jpmorganchase.com,www.jpmorganchase.com,www.jpmorganchase.com,False,yes
3,0,0,0,0,0,111,0,0,0,False,...,111,168,542,yes,160,www.boeing.com,www.boeing.com,www.boeing.com,False,yes
4,0,0,0,0,0,0,1,0,0,False,...,1,118,396,no,133,www.microsoft.com,www.microsoft.com,www.microsoft.com,False,no
5,0,0,32,0,0,5,2,2,0,False,...,41,126,924,no,348,www.bankofamerica.com,www.bankofamerica.com,www.bankofamerica.com,False,no
6,0,0,7,0,0,13,14,3,0,False,...,37,215,1025,yes,430,www.wellsfargo.com,www.wellsfargo.com,www.wellsfargo.com,False,yes
7,0,0,10,0,0,37,2,0,0,False,...,49,150,649,yes,191,www.homedepot.com,www.homedepot.com,www.homedepot.com,False,yes
8,0,0,0,0,0,0,0,0,0,False,...,0,4,107,no,56,www.citigroup.com,www.citigroup.com,www.citigroup.com,False,no
9,0,0,4,0,0,12,25,0,0,False,...,41,81,490,yes,189,www.phillips66.com,www.phillips66.com,www.phillips66.com,False,yes
10,0,0,0,0,0,11,13,0,0,False,...,24,65,238,yes,87,www.ibm.com,www.ibm.com,www.ibm.com,False,yes
11,0,0,2,0,0,8,14,0,0,False,...,24,125,613,no,299,www.valero.com,www.valero.com,www.valero.com,False,no
12,0,0,3,0,0,8,16,0,0,False,...,27,78,373,yes,177,www.antheminc.com,www.antheminc.com,www.antheminc.com,False,yes
13,0,0,0,0,0,0,0,0,0,False,...,0,0,139,no,46,www.pg.com,www.pg.com,www.pg.com,False,no
14,0,0,0,0,0,10,4,2,0,False,...,16,176,709,yes,306,www.statefarm.com,www.statefarm.com,www.statefarm.com,True,yes
15,0,0,0,0,0,1,12,0,0,False,...,13,174,529,yes,213,www.comcastcorporation.com,www.comcastcorporation.com,www.comcastcorporation.com,True,yes
16,0,0,6,0,0,0,12,0,0,False,...,18,29,702,no,272,www.target.com,www.target.com,www.target.com,True,no
17,0,0,3,6,6,21,9,0,0,False,...,45,176,534,yes,158,www.jnj.com,www.jnj.com,www.jnj.com,True,yes
18,0,0,0,0,0,12,23,4,0,False,...,39,241,831,yes,274,www.metlife.com,www.metlife.com,www.metlife.com,True,yes
19,0,0,8,0,0,3,10,0,0,False,...,21,131,352,yes,136,www.marathonpetroleum.com,www.marathonpetroleum.com,www.marathonpetroleum.com,True,yes
20,0,0,1,0,0,3,9,27,0,False,...,40,101,560,yes,198,www.freddiemac.com,www.freddiemac.com,www.freddiemac.com,True,yes
21,0,0,2,2,2,17,30,0,0,False,...,53,263,646,yes,210,www.pepsico.com,www.pepsico.com,www.pepsico.com,True,yes
22,0,0,1,3,3,110,19,13,0,False,...,149,233,666,yes,221,www.utc.com,www.utc.com,www.utc.com,True,yes
23,0,0,3,0,0,12,31,10,0,False,...,56,280,716,yes,175,www.aetna.com,www.aetna.com,www.aetna.com,True,yes
24,0,0,2,0,0,0,3,0,0,False,...,5,125,741,yes,253,www.lowes.com,www.lowes.com,www.lowes.com,True,yes
25,0,0,12,0,0,0,0,0,0,True,...,12,6,490,no,298,www.ups.com,www.ups.com,www.ups.com,True,no
26,0,0,0,0,0,21,1,1,0,True,...,23,53,351,no,165,www.aig.com,www.aig.com,www.aig.com,True,no
27,0,0,13,0,0,9,13,0,0,True,...,35,224,819,no,287,www.prudential.com,www.prudential.com,www.prudential.com,True,no